dist/*
build/*
.env
twitchcommands.spec
data/decompiler_out/*
data/iso_data/*
data/log/game.txt
data/extractor.log
data/out/*
appicon.png
data/log/compiler.txt
twitchcommands.exe
RENAMEANDPUTNEAROPENGOAL.exe
*.exe
